

<div class="row">
        <div class="col s12">
          <div class="card blue-grey lighten-1">
            <div class="card-content white-text center">
              <h1 class="brand-logo">What's the deal with Ketchup?</h1>
              <%= image_tag ("ketchup.svg"), class: "bottle" %>
              <h2 class="card-action">Ketchup was created to help you keep up to date with your friends</h2>
	<h2 class="card-action">Create lists to let your friends know what you're interested in and what's on your ToDo list</h2>
	<h2>Check out your friends lists and make suggestions</h2>
            </div>
          </div>
        </div>
      </div>




